* {
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(150deg, #001523, #003356, #001523 90%);
  color: #d7dae3;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

h4 {
  font-weight: 300;
}

p {
  font-weight: 100;
}

hr {
  border: none;
  height: 3px;
  background: linear-gradient(90deg, #ff6d00, #ff9e00);
  margin-top: 2rem;
  width: 95%;
}
