.movieBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.popularSection h3 {
  padding-left: 2.5%;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.poster img {
  border-radius: 10px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.movieInfo p {
  margin: 0;
}

.reviewsSection h3 {
  padding-left: 2.5%;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  max-height: 700px;
  padding: 2.5%
}

.reviewCard {
  background-color: #00111c;
  border-radius: 10px;
  height: 11rem;
  width: 20em;
  margin-right: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  opacity: 0.9;
}

.reviewerName,
.reviewCard h5,
.reviewCard p {
  margin: 0;
}

.starsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.starsWrapper span {
  margin-right: 0.5rem;
}

.review {
  overflow-y: hidden;
}

.voteContainer {
  display: flex;
  justify-content: flex-end;
}

.voteContainer span {
  margin-left: 1rem;
}
