.movieBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.poster img {
  border-radius: 10px;
  width: 175px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieInfo p {
  margin: 0;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  max-height: 700px;
}

.reviewCard {
  background-color: #00111c;
  border-radius: 10px;
  height: 11rem;
  width: 20em;
  margin-right: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.reviewerName,
.reviewCard h5,
.reviewCard p {
  margin: 0;
}

.starsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.starsWrapper span {
  margin-right: 0.5rem;
}

.review {
  overflow-y: scroll;
}

/* .voteContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
} */

