.wrapper {
  background: linear-gradient(150deg, #001523, #003356, #001523 90%);
}

.text {
  color: #d7dae3;
}

.wrapperReview {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
}

.reviewScroll {
  display: flex;
  padding: 10px;
  overflow-x: auto;
  gap: 10px;
}

.reviewCard {
  min-width: 300px;
  max-width: 300px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.reviewCard::-webkit-scrollbar {
  display: none;
}

.reviewCard h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.reviewCard h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.reviewCard p {
  flex-grow: 1;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.poster {
  display: block;          /* Makes the image a block-level element */
  width: 300px;            /* Maintains the width of the poster */
  border-radius: 8px;      /* Keeps the existing border radius */
  margin: 0 auto 1rem auto; /* Centers the image horizontally and adds bottom margin */
}
